// http://ionicframework.com/docs/theming/


.swiper-pagination-bullet-active {
    background: #559f3f;
    opacity: 1;
}

h6{
    padding-left: 10px;
    padding-right: 10px;

}
.nav-app{

    background-color:  #559f3f;
}
